<a href="https://colab.research.google.com/github/aonvara/python_dataviz2024/blob/main/aonvara_19_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variables

In [ ]:
#comment

# จัดระเบียบ Document และ ทำ Index

# Header1

#Header2

In [ ]:
3.14159265359 # ค่า Pi

3.14159265359

หลักการตั้งชื่อตัวแปรเบื้องต้น

1.   ตั้งให้สื่อ: ว่าเป็นตัวแปรสำหรับทำอะไรเขียนโปรแกรมให้ตัวเองและคนอื่นอ่านรู้เรื่อง และใส่ชนิดของข้อมูลไว้ที่หน้าข้อมูล
2.   ภาษาอังกฤษ
3.   ใช้ตัวเลขได้แต่ห้ามขึ้นต้นด้วยตัวเลข
4.   ห้ามเว้นวรรค

In [ ]:
pi = 3.14159265359 #ถ้าไม่ขึ้นอะไรที่หน้าจอแปลว่าถูกต้องเพราะว่าค่าที่เราตั้งไว้ถูกเก็บในตัวแปร

In [ ]:
pi #ดูค่าในตัวแปร

3.14159265359

### int : จำนวนเต็ม

In [ ]:
int_a = 10

In [ ]:
print(int_a)

10

### float : จำนวนจริง (ทศนิยม)

In [ ]:
float_b = 10.
print(float_b)

10.0

###  ตัวอักษร (char (character)) ข้อความ (text หรือ string)

.. # hashtag, sharp ใช้สำหรับคอมเม้น

In [ ]:
str_c = 'ธนพงศ์'   # เราจะบอกว่าตัวแปรเป็นตัวอักษรหรือข้อความโดยการใช้ single quote ' หรือ double quote " ล้อมรอบ
print(str_c)

ธนพงศ์

## ตัวแปรต่างชนิดกันไม่สามารถทำ operation กันได้

In [ ]:
print(str_c + "STAT") #สามารถทำได้ string + string

ธนพงศ์STAT

In [ ]:
print(int_a + 13) # int + int

23

In [ ]:
print(str_c + int_a) #มีปัญหาเพราะตัวแปรคนละชนิดกัน string + int

TypeError: can only concatenate str (not "int") to str

In [ ]:
print(str_c + str(int_a)) # Convert the integer to a string using str() before concatenation

ธนพงศ์10

In [ ]:
str_d = '1234'
print(str_d)

1234

In [ ]:
print(str_d + int_a)

TypeError: can only concatenate str (not "int") to str

In [ ]:
print(int(str_d) + int_a)

1244

### variable casting (การเปลี่ยนชนิดของข้อมูล)

In [ ]:
int(str_d) + 1

1235

In [ ]:
print(int_a)
print(float(int_a))
print(str(int_a))

10
10.0
10

# Operation (Operators +,-,*,/,%)

In [ ]:
int_a+float_b

20.0

In [ ]:
ab = int_a+float_b
print(ab)

20.0

#### % คือหมาย modulo หารเอาเศษ

In [ ]:
5%3

2

In [ ]:
7%3

1

** ยกกำลัง

In [ ]:
2**10

1024

In [ ]:
2**0.5

1.4142135623730951

### คำสั่ง print แบบพิเศษ (การ format string)

```f'ข้อความธรรมดา {code} ข้อความธรรมดา {code}'```

In [ ]:
print('ตัวแปร') #สิ่งที่อยู่ข้างในวงเล็บคือ ตัวแปร และ string

ตัวแปร

In [ ]:
print(f'% คือการหารเอาเศษ เช่น 7%3 = {7%3}') # เพิ่ม f หน้า 'string' และใช้ {} ใส่ code

% คือการหารเอาเศษ เช่น 7%3 = 1

In [ ]:
print(f'% คือการหารเอาเศษ เช่น 7%3 = {7%3} \
\n/ คือการหารปกติ เช่น 7/3 = {7/3} \
\n// คือการหารเอาส่วน เช่น 7//3 = {7//3} หรือ \
\n ใช้ int() เพื่อหารเอาส่วน เช่น int(7/3) = {int(7/3)} \
\n ตัวแปร int_a คือ {int_a}') # \n คือการขึ้นบรรทัดใหม่ \ ใช้ในการตัด code แต่ com จะไม่เห็น

% คือการหารเอาเศษ เช่น 7%3 = 1
/ คือการหารปกติ เช่น 7/3 = 2.3333333333333335
// คือการหารเอาส่วน เช่น 7//3 = 2 หรือ
 ใช้ int() เพื่อหารเอาส่วน เช่น int(7/3) = 2
 ตัวแปร int_a คือ 10

## DATA STRUCTURE (โครงสร้างข้อมูล)

### List คือ การเอาตัวแปรหลายๆตัวมาเรียงกัน
#### list สามารถสร้างได้ 2แบบ ดังนี้

#### แบบที่1 > square brackets

In [ ]:
list_a = []
print(list_a)

[]

In [ ]:
list_b = [1,5,'v']
print(list_b)

[1, 5, 'v']

### ลำดับที่อยู่ใน list มีความสำคัญ (ลำดับใน list เริ่มจาก 0,1,2,...)

In [ ]:
list_b[1]

5

#### แบบที่2

In [ ]:
list_c = list()
print(list_c)

[]

## append() เพิ่มสมาชิกใน list

In [ ]:
list_b.append('u')
print(list_b)

[1, 5, 'v', 'u']

In [ ]:
list_b.pop() ### ดึงสมาชิกที่สุดท้ายออกจาก list

'u'

In [ ]:
list_b

[1, 5, 'v']

In [ ]:
list_a.append('sci')
print(list_a)

['sci']

In [ ]:
list_b.append(list_a)
print(list_b)

[1, 5, 'v', ['sci']]

## String > list of characters

In [ ]:
t = 'python is easy'
t

'python is easy'

In [ ]:
len(list_b) # len คือคำสั่งตรวจสอบความยาวของ list (จำนวนสมาชิก)

4

In [ ]:
len(t)

14

### access a member of a list (list&string)
#### โดยการเริ่มนับจะเริ่มนับจาก 0
#### 0 คือสมาชิกตัวแรก , -1 คือสมาชิกตัวสุดท้าย

In [ ]:
t[0] #ตำแหน่งเริ่มที่ 0 แต่ len เริ่มที่ 1

'p'

In [ ]:
t[7:9]

'is'

In [ ]:
t[-1]

'y'

In [ ]:
t[-4]

'e'

### ตัวที่อยู่ข้างใน [ ] เราเรียกว่า index (ตัวชี้)

### List slicing สามารถทำได้โดยใช้ colon :
[a:b] -> [a,b)
![9.gif]()

In [ ]:
t = 'python is easy'

In [ ]:
print(t)
print(t[7:9])

python is easy
is

ถ้าเว้นว่างหน้า : หมายความว่า เริ่มตั้งแต่ตัวแรก

ถ้าเว้นว่างหลัง : หมายความว่า ไปจนถึงตัวสุดท้าย

In [ ]:
print(t) #ทุกตัว
print(t[:6]) #ตั้งแต่ตัวแรกถึง 6
print(t[10:]) #ถึงตัวสุดท้าย
print(t[-4:]) #นับถอยหลังไป 4 จนถึงตัวสุดท้าย
print(t[:]) #ทุกตัว

python is easy
python
easy
easy
python is easy

In [ ]:
print(t[::2])  ## : ตัวที่สอง กำหนด step คือเอาแค่เลขคู่

pto ses

In [ ]:
print(t[::-1]) #step กลับด้าน

ysae si nohtyp

# range() สร้าง list ของตัวเลขที่เรียงกัน

In [ ]:
range(10)

range(0, 10)

In [ ]:
print(list(range(10))) #นับ 0-9
print(list(range(10))[::2]) #เอาเฉพาะเลขคู่

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]

In [ ]:
print(t[2::2])

to ses

#### เราสามารถเอา list มาต่อกันได้ด้วย +

In [ ]:
 t + '??'

'python is easy??'

In [ ]:
t + list_b ## ไม่สามารถเอา list ปกติมาต่อกับ string ได้

TypeError: can only concatenate str (not "list") to str

In [ ]:
list_b + list_a

[1, 5, 'v', ['sci'], 'sci']

In [ ]:
list_a

['sci']

In [ ]:
list_a + list_a

['sci', 'sci']

In [ ]:
6*list_a

['sci', 'sci', 'sci', 'sci', 'sci', 'sci']

#### การแบ่ง string ตามสัญลักษณ์ที่กำหนด -> split string

In [ ]:
t.split(' ')

['python', 'is', 'easy']

In [ ]:
time = '12:30:15'

In [ ]:
time.split(':')

['12', '30', '15']

In [ ]:
print(t)
t_sp = t.split(' ')
print(t_sp)

## วิธีรวมกลับ

print(':'.join(t_sp))

python is easy
['python', 'is', 'easy']
python:is:easy

#**Homework**

# HW1: การบ้านครั้งที่ 1
**รายวิชา Basic Programming for Data Science and Data Visualization**

นางสาวอรวรา กาญจนวัฒนา 643020095-1 (21/06/2567)

## **โจทย์**: HW คำนวณช่วงเวลาเป็นวินาทีของเวลาต่อไปนี้โดยใช้คำสั่ง split() ช่วย (print ออกมาให้สวยงาม)

## **ข้อที่ 1**: 12:30:15 - 13:41:07

In [140]:
print(f'กำหนดให้เวลาเริ่ม = t1 และ เวลาจบ = t2')
t1 = '12:30:15'
t2 = '13:41:07'
print(f't1 = {t1} \nt2 = {t2}')

print(f'ใช้คำสั่ง split แยกเวลาเป็นชั่วโมง นาที และวินาที (t1_sp, t2_sp) จากนั้น \
\nคำนวณทั้งหมดเป็นวินาที (t1_sec, t2_sec)')
t1_sp = t1.split(':')
t2_sp = t2.split(':')
print(f't1_sp = {t1_sp} \nt2_sp = {t2_sp}')

t1_sec = int(t1_sp[0])*3600 + int(t1_sp[1])*60 + int(t1_sp[2])
t2_sec = int(t2_sp[0])*3600 + int(t2_sp[1])*60 + int(t2_sp[2])
print(f't1_sec = {t1_sec} วินาที\nt2_sec = {t2_sec} วินาที')

กำหนดให้เวลาเริ่ม = t1 และ เวลาจบ = t2
t1 = 12:30:15
t2 = 13:41:07
ใช้คำสั่ง split แยกเวลาเป็นชั่วโมง นาที และวินาที (t1_sp, t2_sp) จากนั้น
คำนวณทั้งหมดเป็นวินาที (t1_sec, t2_sec)
t1_sp = ['12', '30', '15']
t2_sp = ['13', '41', '07']
t1_sec = 45015 วินาที
t2_sec = 49267 วินาที

In [127]:
print(f'ดังนั้น ช่วงเวลาที่หาได้มีค่าเท่ากับ t2_sec - t1_sec = {t2_sec - t1_sec} วินาที')

ดังนั้น ช่วงเวลาที่หาได้มีค่าเท่ากับ t2_sec - t1_sec = 4252 วินาที

### **ตอบ** ช่วงเวลาเป็นวินาทีของเวลาในข้อที่ 1: 12:30:15 - 13:41:07 คือ 4252 วินาที

## **ข้อที่ 2**: 12:53:15 - 00:59:25

In [142]:
print(f'กำหนดให้เวลาเริ่ม = t3 และ เวลาจบ = t4')
t3 = '12:53:15 '
t4 = '00:59:25'
print(f't3 = {t3} \nt4 = {t4}')

print(f'ใช้คำสั่ง split แยกเวลาเป็นชั่วโมง นาที และวินาที (t3_sp, t4_sp) จากนั้น \
\nคำนวณทั้งหมดเป็นวินาที (t3_sec, t4_sec)')
t3_sp = t3.split(':')
t4_sp = t4.split(':')
print(f't3_sp = {t3_sp} \nt4_sp = {t4_sp}')

t3_sec = int(t3_sp[0])*3600 + int(t3_sp[1])*60 + int(t3_sp[2])
t4_sec = int(t4_sp[0])*3600 + int(t4_sp[1])*60 + int(t4_sp[2])
print(f't3_sec = {t3_sec} วินาที\nt4_sec = {t4_sec} วินาที')

กำหนดให้เวลาเริ่ม = t3 และ เวลาจบ = t4
t3 = 12:53:15
t4 = 00:59:25
ใช้คำสั่ง split แยกเวลาเป็นชั่วโมง นาที และวินาที (t3_sp, t4_sp) จากนั้น
คำนวณทั้งหมดเป็นวินาที (t3_sec, t4_sec)
t3_sp = ['12', '53', '15 ']
t4_sp = ['00', '59', '25']
t3_sec = 46395 วินาที
t4_sec = 3565 วินาที

In [147]:
print(f'ซึ่งเวลาจบ (t4) ที่คำนวณออกมาเป็นวินาที (t4_sec) จะถือเป็นระยะเวลาที่พึ่งเริ่มวันถัดไป \
\nดังนั้นจะต้องบวกช่วงเวลาของวันที่ผ่านมาเข้าไปด้วย คือ 24 ชั่วโมง หรือ 86400 วินาที \
\nโดยกำหนดตัวแปรใหม่ = t4_sec_1d')
t4_sec_1d = t4_sec + 86400
print(f't4_sec_1d = 3565 + 86400 = {t4_sec_1d} วินาที')

ซึ่งเวลาจบ (t4) ที่คำนวณออกมาเป็นวินาที (t4_sec) จะถือเป็นระยะเวลาที่พึ่งเริ่มวันถัดไป
ดังนั้นจะต้องบวกช่วงเวลาของวันที่ผ่านมาเข้าไปด้วย คือ 24 ชั่วโมง หรือ 86400 วินาที
โดยกำหนดตัวแปรใหม่ = t4_sec_1d
t4_sec_1d = 3565 + 86400 = 89965 วินาที

In [148]:
print(f'ดังนั้น ช่วงเวลาที่หาได้มีค่าเท่ากับ t4_sec_1d - t3_sec = {t4_sec_1d - t3_sec} วินาที')

ดังนั้น ช่วงเวลาที่หาได้มีค่าเท่ากับ t4_sec_1d - t3_sec = 43570 วินาที

### **ตอบ** ช่วงเวลาเป็นวินาทีของเวลาในข้อที่ 2: 12:53:15 - 00:59:25 คือ 43570 วินาที

## **ข้อที่ 3**: 11:11:11 - 16:06:09

In [149]:
print(f'กำหนดให้เวลาเริ่ม = t5 และ เวลาจบ = t6')
t5 = '11:11:11 '
t6 = '16:06:09'
print(f't5 = {t5} \nt6 = {t6}')

print(f'ใช้คำสั่ง split แยกเวลาเป็นชั่วโมง นาที และวินาที (t5_sp, t6_sp) จากนั้น \
\nคำนวณทั้งหมดเป็นวินาที (t5_sec, t6_sec)')
t5_sp = t5.split(':')
t6_sp = t6.split(':')
print(f't5_sp = {t5_sp} \nt6_sp = {t6_sp}')

t5_sec = int(t5_sp[0])*3600 + int(t5_sp[1])*60 + int(t5_sp[2])
t6_sec = int(t6_sp[0])*3600 + int(t6_sp[1])*60 + int(t6_sp[2])
print(f't5_sec = {t5_sec} วินาที\nt6_sec = {t6_sec} วินาที')

กำหนดให้เวลาเริ่ม = t5 และ เวลาจบ = t6
t5 = 11:11:11
t6 = 16:06:09
ใช้คำสั่ง split แยกเวลาเป็นชั่วโมง นาที และวินาที (t5_sp, t6_sp) จากนั้น
คำนวณทั้งหมดเป็นวินาที (t5_sec, t6_sec)
t5_sp = ['11', '11', '11 ']
t6_sp = ['16', '06', '09']
t5_sec = 40271 วินาที
t6_sec = 57969 วินาที

In [150]:
print(f'ดังนั้น ช่วงเวลาที่หาได้มีค่าเท่ากับ t6_sec - t5_sec = {t6_sec - t5_sec} วินาที')

ดังนั้น ช่วงเวลาที่หาได้มีค่าเท่ากับ t6_sec - t5_sec = 17698 วินาที

### **ตอบ** ช่วงเวลาเป็นวินาทีของเวลาในข้อที่ 3: 11:11:11 - 16:06:09 คือ 17698 วินาที

# **HW ยังไม่ต้องทำ**: ให้สร้างฟังก์ชั่นคำนวณเวลาเป็นวินาทีของเวลาใดๆ และ print ออกมาให้สวยงาม ให้สร้าง list ของ เวลา ```['12:30:15','13:41:07',....]``` แล้ววนลูปเรียกฟังก์ชั่นคำนวณเวลาเป็น วินาที

**commit ว่า HW3**