<a href="https://colab.research.google.com/github/aonvara/python_dataviz2024/blob/main/Function_Loop_Condition_aonvara_0807.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

HW1 note

In [ ]:
inp = '12:30:15 - 13:41:07'
inp_list = inp.split(' - ')
inp_list

['12:30:15', '13:41:07']

# Function

## Function template
#### ทำหน้าที่รับ input มาประมวณผลออกมาเป็น output
#### f(x) = y

### def คือการกำหนดฟังก์ชัน


backtick (`) ==> กด ~ ค้าง, alt - 9>6 (full keyboard with number)

tilde (~)

curly bracket ({ })

square bracket ([ ])

```python
    def function_name(_Input_) :
        do_something with _Input_ to get _Output_
        return _Output_
```

เราใช้ เว้นวรรค (indent) เพื่อบอกขอบเขตของโปรแกรม

function มีส่วนสำคัญทั้งหมด 4 ส่วน

1.   บอก python ว่าเราจะเขียนฟังก์ชั่น ชื่ออะไร  ```def function_name():``` (ขาดไม่ได้)
2.   กำหนดตัวแปรที่จะเป็น input  ```_Input_``` (ขาดได้)
3.   ส่วนประมวลผล ```do_something with _Input_ to get _Output_``` (ขาดไม่ได้)
4.   ส่วน output ```return _Output_```(ขาดได้)

#### ตัวอย่างการเขียน normal function

In [ ]:
#ไม่มี input, output และสิ่งที่เกิดขึ้นไปอยู่ใน memory
def print_myname() :
    print('Thanapong')

In [ ]:
print_myname()

Thanapong

In [ ]:
def print_name(surname,ID,name):  #มี input หลายตัว, output หนึ่งตัว และสิ่งที่เกิดขึ้นไปอยู่ใน memory
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    return st

In [ ]:
print_name('อินทระ','64xxxxxx','ธนพงศ์')

'ชื่อ ธนพงศ์ นามสกุล อินทระ รหัส 64xxxxxx'

In [ ]:
print(print_name(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2'))

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

### ข้อแตกต่างระหว่าง function ที่มีและไม่มี output

In [ ]:
out_printname1 = print_name(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2') #มี output
print(out_printname1)

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

จากโค้ดข้างบนจะเห็นว่ามี Output บรรทัดเดียว เป็นผลมาจากคำสั่งบรรทัดที่ 2 เกิดจากการที่เรามี return ใน print_name

In [ ]:
out_printname1 #มีค่าขึ้นมา

'ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2'

In [ ]:
def print_name2(surname,ID,name):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print(st)

In [ ]:
out_printname2 = print_name2(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2') #ไม่มี output
print(out_printname2)

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2
None

แต่กรณีโค้ดข้างบนตรงนี้ไม่มี return ผลที่เห็นจะมาจากบรรทัดแรก แต่บรรทักที่สองจะไม่ให้ค่าอะไรออกมา

In [ ]:
out_printname2

ฟังก์ชั่นไม่จำเป็นต้องมี output

In [ ]:
def print_name2(surname,ID,name):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print(st)

In [ ]:
print_name2(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

ฟังก์ชั่นไม่จำเป็นต้องมี input

In [ ]:
def Pi():
    return 3.14159265359

In [ ]:
Pi()*(2**2) # หาพื้นที่ของวงกลมที่มีรัศมีเท่ากับ Pi * r^2

12.56637061436

## เราสามารถกำหนดค่า default ให้กับ input ฟังก์ชั่นได้

input ของ function ใน python มีสองแบบ input ที่จำเป็นต้องใส่ กับ input ที่ไม่จำเป็นต้องใส่ (มีค่า default)

เราต้องเรียง input ที่จำเป็นต้องใส่ขึ้นก่อน

In [ ]:
def print_2lines_default(name,surname,ID,grade='F'): #มีแค่เกรดที่มีค่า default ดังนั้นต้องการ input แค่ 3 ตัว
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print (st)
    st2=f'เกรดวิชา Data Viz >>> {grade}'
    print(st2)

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> F

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8','A')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> A

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8',grade='A')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> A

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย')

TypeError: print_2lines_default() missing 1 required positional argument: 'ID'

# **Quiz3**

## เขียน fuction ที่รับ input หนึ่งตัว ตาม format hh1:mm1:ss1 - hh2:mm2:ss2 และคำนวณช่วงเวลาเป็นวินาที ที่ห่างกันระหว่าง time1 และ time2 โดยยังไม่ต้องสนใจว่า time2 สามารถข้ามไปอีกวันได้

In [ ]:
def time_diff(time):
  inp_list = time.split('-')
  inp_list2 = inp_list[0].split(':')
  inp_list3 = inp_list[1].split(':')
  t1_sec = int(inp_list2[0])*3600 + int(inp_list2[1])*60 + int(inp_list2[2])
  t2_sec = int(inp_list3[0])*3600 + int(inp_list3[1])*60 + int(inp_list3[2])
  pt6 = (t2_sec-t1_sec)
  return pt6

In [ ]:
print(time_diff('18:09:10 - 18:25:10'))

960

# **Quiz3.5**

## รับ input 2 ตัว โดยตั้งค่า time1 เป็น 00:00:00

In [ ]:
def time_diff2(time2, time1 = '00:00:00'):
  inp_list2 = time1.split(':')
  inp_list3 = time2.split(':')
  t1_sec = int(inp_list2[0])*3600 + int(inp_list2[1])*60 + int(inp_list2[2])
  t2_sec = int(inp_list3[0])*3600 + int(inp_list3[1])*60 + int(inp_list3[2])
  pt6 = (t2_sec-t1_sec)
  return pt6

In [ ]:
print(time_diff2('12:30:15'))

45015

# **Homework**

# HW2: การบ้านครั้งที่ 2
**รายวิชา Basic Programming for Data Science and Data Visualization**

นางสาวอรวรา กาญจนวัฒนา 643020095-1 (24/06/2567)

## **โจทย์** วนลูปหาช่วงเวลาเป็นวินาที ที่ห่างกันระหว่าง time1 และ time2 ต่อไปนี้

18:09:10 - 18:25:10

13:38:39 - 23:54:39

16:49:58 - 18:05:58

21:49:10 - 22:24:10

08:52:21 - 09:25:21

06:56:26 - 07:49:26

12:08:05 - 12:43:05

01:48:38 - 07:18:38

08:51:21 - 10:17:21

17:05:17 - 18:09:17

In [51]:
time_list = ['18:09:10 - 18:25:10', '13:38:39 - 23:54:39', '16:49:58 - 18:05:58', '21:49:10 - 22:24:10', '08:52:21 - 09:25:21',
             '06:56:26 - 07:49:26', '12:08:05 - 12:43:05', '01:48:38 - 07:18:38', '08:51:21 - 10:17:21', '17:05:17 - 18:09:17']

In [52]:
def time_diff_hw2(time_list):
  hw2_1 = hw.split('-')               #แบ่งระหว่าง time1 และ time2
  hw2_2 = hw2_1[0].split(':')     #แบ่งชั่วโมง นาที และวินาทีของ time1
  hw2_3 = hw2_1[1].split(':')     #แบ่งชั่วโมง นาที และวินาทีของ time2
  hw2_sec_1 = int(hw2_2[0])*3600 + int(hw2_2[1])*60 + int(hw2_2[2]) #แปลงเป็นวินาทีของ time1
  hw2_sec_2 = int(hw2_3[0])*3600 + int(hw2_3[1])*60 + int(hw2_3[2]) #แปลงเป็นวินาทีของ time2
  hw2_4 = (hw2_sec_2-hw2_sec_1) #คำนวณระหว่าง time1 และ time2
  return hw2_4

## **คำตอบ**

In [21]:
print(f'วนลูปหาช่วงเวลาเป็นวินาที ที่ห่างกันระหว่าง time1 และ time2 ไล่ตั้งแต่ข้อที่ 1-10 ต่อไปนี้')
for hw in time_list:
  print(f' ตอบ {time_diff_hw2(hw)} วินาที')

วนลูปหาช่วงเวลาเป็นวินาที ที่ห่างกันระหว่าง time1 และ time2 ไล่ตั้งแต่ข้อที่ 1-10 ต่อไปนี้
 ตอบ 960 วินาที
 ตอบ 36960 วินาที
 ตอบ 4560 วินาที
 ตอบ 2100 วินาที
 ตอบ 1980 วินาที
 ตอบ 3180 วินาที
 ตอบ 2100 วินาที
 ตอบ 19800 วินาที
 ตอบ 5160 วินาที
 ตอบ 3840 วินาที

# LOOP การวนซ้ำ

for เป็นคำที่ใช้บอก python ว่าเรากำลังเขียน loop
โดย for จะวนดึงสมาชิกจาก ```listA``` มาทำ process ```do_something```

```python
    for each_member in listA :
        do_something
```

#### คำสั่ง for เป็นคำสั่งวนซ้ำที่ใช้ควบคุมการทำงานซ้ำๆ ในจำนวนรอบที่แน่นอน

In [ ]:
for i in [1,2,3] :
    o = i**2
    print (f'this member = {i} after process = {o}')

this member = 1 after process = 1
this member = 2 after process = 4
this member = 3 after process = 9

#### ตัวอย่างการใช้คำสั่ง for ในการวนซ้ำค่าของ i เมื่อ i คือ 'Thanapong' และคำสั่ง print(f'{i} -> /') เพื่อกำหนดให้ผลลัพธ์แสดงสัญลักษณ์ -> /  จากนั้นเพิ่มคำสั่ง print(' ') อีกครั้งเพื่อให้ผลลัพธ์มีการเว้นวรรค

In [ ]:
for i in 'Thanapong':
    print(f'{i} -> / ' )

T -> /
h -> /
a -> /
n -> /
a -> /
p -> /
o -> /
n -> /
g -> /

In [ ]:
for i in 'Thanapong':
    print(f'{i} -> / ' ,end = '') #สั่งให้ print แบบ ไม่เว้นบรรทัด

T -> / h -> / a -> / n -> / a -> / p -> / o -> / n -> / g -> /

In [ ]:
for i in 'Thanapong':
    print(f'{i} -> / ' ,end = ',') #สั่งให้ print แบบ ไม่เว้นบรรทัด

T -> / ,h -> / ,a -> / ,n -> / ,a -> / ,p -> / ,o -> / ,n -> / ,g -> / ,

## สร้าง list ตัวเลขแบบอัตโนมัติ  range()

In [ ]:
range5_output = range(5)
print(list(range5_output))

[0, 1, 2, 3, 4]

In [ ]:
for i in range(100):
    print('พี่ไซลัสหล่อมาก',end=' ')

พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก พี่ไซลัสหล่อมาก

In [ ]:
list(range(1,11)) #เริ่มต้นเป็นวงทึบ จบเป็นวงกลมโปร่ง เหมือน list slicing

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list(range(-3,20,4))

[-3, 1, 5, 9, 13, 17]

### loop in loop
#### สามารถใช้ for loop ซ้อนกันสองรอบได้¶

In [ ]:
for name1 in  range(2,5): #(2, 3, 4)
    print(f'now name1 = {name1}')
    for name2 in  range(1,13):
        print(name1,' x ',name2,' = ',name1*name2)
    print('the inner loop is end')

now name1 = 2
2  x  1  =  2
2  x  2  =  4
2  x  3  =  6
2  x  4  =  8
2  x  5  =  10
2  x  6  =  12
2  x  7  =  14
2  x  8  =  16
2  x  9  =  18
2  x  10  =  20
2  x  11  =  22
2  x  12  =  24
the inner loop is end
now name1 = 3
3  x  1  =  3
3  x  2  =  6
3  x  3  =  9
3  x  4  =  12
3  x  5  =  15
3  x  6  =  18
3  x  7  =  21
3  x  8  =  24
3  x  9  =  27
3  x  10  =  30
3  x  11  =  33
3  x  12  =  36
the inner loop is end
now name1 = 4
4  x  1  =  4
4  x  2  =  8
4  x  3  =  12
4  x  4  =  16
4  x  5  =  20
4  x  6  =  24
4  x  7  =  28
4  x  8  =  32
4  x  9  =  36
4  x  10  =  40
4  x  11  =  44
4  x  12  =  48
the inner loop is end

### loop in function
#### การวนลูปในฟังก์ชั่น

In [ ]:
def print_feelings(I,friendS,feeling = 'คิดถึง'):
    for friend in friendS:
        print(f'{I} {feeling} {friend}')

In [23]:
list_friends = ['Zayne', 'Rafayel', 'Xaveir', 'Sylus']

In [ ]:
print_feelings('มายด์',list_friends)

มายด์ คิดถึง Zayne
มายด์ คิดถึง Rafayel
มายด์ คิดถึง Xaveir
มายด์ คิดถึง Sylus

In [ ]:
print_feelings('เจมส์',list_friends,feeling='รัก')

เจมส์ รัก พี่บูม
เจมส์ รัก ดายน์
เจมส์ รัก แตงโม
เจมส์ รัก ฝน
เจมส์ รัก พี่เจ็ท
เจมส์ รัก น้องแคมป์

In [ ]:
print_feelings('เจมส์',list_friends,'รัก')

เจมส์ รัก พี่บูม
เจมส์ รัก ดายน์
เจมส์ รัก แตงโม
เจมส์ รัก ฝน
เจมส์ รัก พี่เจ็ท
เจมส์ รัก น้องแคมป์

# **จบ 24/06/67**

### looping in dict
#### ทำการวนลูปในค่า dict โดยที่เรากำหนดตัว key และvalueขึ้นมา ได้ดังนี้

## Dictionary (Data Structure)

โครงสร้างข้อมูลที่จัดเก็บข้อมูลโดยอ้างอิงโดย Text
วงเล็บ { } Curly Buckets

In [2]:
Ex_dict_A = {'memberA': [1,2,3], 'memberB': 8, 'memberC': 'abc'}

In [4]:
Ex_dict_A

{'memberA': [1, 2, 3], 'memberB': 8, 'memberC': 'abc'}

In [5]:
Ex_dict_A['memberA']

[1, 2, 3]

In [9]:
Ex_dict_A['memberA'][1]

2

In [1]:
name_grade = {'พันทิพา' : 'B','ศุภนิตา' : 'C','ปนัดดา' : 'A','ทรงกลด' : 'F'}
name_grade

{'พันทิพา': 'B', 'ศุภนิตา': 'C', 'ปนัดดา': 'A', 'ทรงกลด': 'F'}

In [10]:
name_grade['ปนัดดา']

'A'

In [12]:
name_grade.keys()

dict_keys(['พันทิพา', 'ศุภนิตา', 'ปนัดดา', 'ทรงกลด'])

In [11]:
for i in name_grade.keys():
    print(i)

พันทิพา
ศุภนิตา
ปนัดดา
ทรงกลด

In [13]:
name_grade.keys()

dict_keys(['พันทิพา', 'ศุภนิตา', 'ปนัดดา', 'ทรงกลด'])

In [14]:
for i in name_grade.keys():
    print(f'{i} ได้เกรด {name_grade[i]}')

พันทิพา ได้เกรด B
ศุภนิตา ได้เกรด C
ปนัดดา ได้เกรด A
ทรงกลด ได้เกรด F

# **conditional คือ เงื่อนไข /ประโยคเงื่อนไข**

# **Conditional statemet คือ ประโยคเงื่อนไข**
ชนิดตัวแปรที่เกี่ยวข้อ Boolean (True,False)

In [33]:
condition_1 = True
condition_2 = False

##### True / False
##### การวนลูปโดยมีเงื่อนไขต่างๆมาเกี่ยวข้อง โดยมี pattern ดังนี้

```Python
if condition1 :
    do something
elif condition2 :  #elif คือ else if
    do another thing
else:
    do ...
```

# **HW2 Example**

In [31]:
time_list =  [
    ["18:09:10", "18:25:10"],
    ["13:38:39", "23:54:39"],
    ["16:49:58", "18:05:58"],
    ["21:49:10", "22:24:10"],
    ["08:52:21", "09:25:21"],
    ["06:56:26", "07:49:26"],
    ["12:08:05", "12:43:05"],
    ["01:48:38", "07:18:38"],
    ["08:51:21", "10:17:21"],
    ["17:05:17", "18:09:17"]]

def time_to_second(time1,time2):
    time1_list = time1.split(':')
    time2_list = time2.split(':')
    time1_sec = int(time1_list[0])*3600 + int(time1_list[1])*60 + int(time1_list[2])
    time2_sec = int(time2_list[0])*3600 + int(time2_list[1])*60 + int(time2_list[2])
    return(time2_sec - time1_sec)

for time1,time2 in time_list:
  diff_seconds = time_to_second(time1,time2)
  print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 18:25:10 is 960 seconds
Time difference between 13:38:39 - 23:54:39 is 36960 seconds
Time difference between 16:49:58 - 18:05:58 is 4560 seconds
Time difference between 21:49:10 - 22:24:10 is 2100 seconds
Time difference between 08:52:21 - 09:25:21 is 1980 seconds
Time difference between 06:56:26 - 07:49:26 is 3180 seconds
Time difference between 12:08:05 - 12:43:05 is 2100 seconds
Time difference between 01:48:38 - 07:18:38 is 19800 seconds
Time difference between 08:51:21 - 10:17:21 is 5160 seconds
Time difference between 17:05:17 - 18:09:17 is 3840 seconds

In [32]:
time1 = "18:09:10"
time2 = "00:25:10"
diff_seconds = time_to_second(time1,time2)
print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 00:25:10 is -63840 seconds

# **HW2 reversion**

In [35]:
def time_to_second(time1):
    time1_list = time1.split(':')
    time1_sec = int(time1_list[0])*3600 + int(time1_list[1])*60 + int(time1_list[2])
    return time1_sec

In [36]:
time_list =  [
    ["18:09:10", "18:25:10"],
    ["13:38:39", "23:54:39"],["16:49:58", "18:05:58"],
    ["21:49:10", "22:24:10"],["08:52:21", "09:25:21"],
    ["06:56:26", "07:49:26"],["12:08:05", "12:43:05"],
    ["01:48:38", "07:18:38"],["08:51:21", "10:17:21"],
    ["17:05:17", "18:09:17"],["18:51:21", "00:17:21"],
    ["17:05:17", "11:09:17"],]

In [37]:
for time1,time2 in time_list:

    if time_to_second(time1) < time_to_second(time2): #ถ้า time1 น้อยกว่า time2
        diff_seconds = time_to_second(time2) - time_to_second(time1)
    else: #ถ้า time1 ไม่น้อยกว่า time2
        diff_seconds = (time_to_second(time2)+(24*60*60)) - time_to_second(time1)

    print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 18:25:10 is 960 seconds
Time difference between 13:38:39 - 23:54:39 is 36960 seconds
Time difference between 16:49:58 - 18:05:58 is 4560 seconds
Time difference between 21:49:10 - 22:24:10 is 2100 seconds
Time difference between 08:52:21 - 09:25:21 is 1980 seconds
Time difference between 06:56:26 - 07:49:26 is 3180 seconds
Time difference between 12:08:05 - 12:43:05 is 2100 seconds
Time difference between 01:48:38 - 07:18:38 is 19800 seconds
Time difference between 08:51:21 - 10:17:21 is 5160 seconds
Time difference between 17:05:17 - 18:09:17 is 3840 seconds
Time difference between 18:51:21 - 00:17:21 is 19560 seconds
Time difference between 17:05:17 - 11:09:17 is 65040 seconds

# **HW3 เพิ่ม ฟังก์ชั่นแปลงวินาทีกลับมาเป็น ชั่วโมง นาที วินาที โดยไม่ใช่ฟังก์ชั่นช่วยเหลืออื่นๆของ python (import) ถ้าส่วนของ ชั่วโมง นาที วินาที เป็นศูนย์ ไม่ต้องแสดง**

In [27]:
print(list_friends)

['Zayne', 'Rafayel', 'Xaveir', 'Sylus']

In [25]:
for name1 in list_friends :
    for name2 in list_friends :
            print(name1,'รัก',name2)

Zayne รัก Zayne
Zayne รัก Rafayel
Zayne รัก Xaveir
Zayne รัก Sylus
Rafayel รัก Zayne
Rafayel รัก Rafayel
Rafayel รัก Xaveir
Rafayel รัก Sylus
Xaveir รัก Zayne
Xaveir รัก Rafayel
Xaveir รัก Xaveir
Xaveir รัก Sylus
Sylus รัก Zayne
Sylus รัก Rafayel
Sylus รัก Xaveir
Sylus รัก Sylus

In [38]:
for name1 in list_friends:
    for name2 in list_friends:
        if name1 != name2: #ไม่ปริ้นชื่อคนเดียวกันซ้ำ
            print(name1,'รัก',name2)

Zayne รัก Rafayel
Zayne รัก Xaveir
Zayne รัก Sylus
Rafayel รัก Zayne
Rafayel รัก Xaveir
Rafayel รัก Sylus
Xaveir รัก Zayne
Xaveir รัก Rafayel
Xaveir รัก Sylus
Sylus รัก Zayne
Sylus รัก Rafayel
Sylus รัก Xaveir

In [44]:
for name1 in list_friends:
    for name2 in list_friends:
        if name1 == name2: #ปริ้นชื่อคนเดียวกันซ้ำ
            print(name1,'รัก',name2)

Zayne รัก Zayne
Rafayel รัก Rafayel
Xaveir รัก Xaveir
Sylus รัก Sylus

In [45]:
for name1 in list_friends:
    for name2 in list_friends:
        if name1 == name2:
            'do nothing'
        else:
            print(name1,'รัก',name2)

Zayne รัก Rafayel
Zayne รัก Xaveir
Zayne รัก Sylus
Rafayel รัก Zayne
Rafayel รัก Xaveir
Rafayel รัก Sylus
Xaveir รัก Zayne
Xaveir รัก Rafayel
Xaveir รัก Sylus
Sylus รัก Zayne
Sylus รัก Rafayel
Sylus รัก Xaveir

#### ==, !=,>=,<=,<,>

In [46]:
'พี่บูม' == 'พี่เจ็ท'

False

In [47]:
'พี่บูม' != 'พี่เจ็ท'

True

#### หากหลังเงื่อนไข True ถูกต้องจะทำการ print ข้อความออกมาว่า Yes

In [48]:
if True:
    print('Yes')

Yes

In [49]:
if False:
    print('No')

#### หากหลังเงื่อนไข False ไม่ถูกต้องจะไม่ปริ้นข้อความใดๆออกมา
#### ซึ่งจะต้องใช้เงื่อนไขนี้ จึงจะได้ปริ้นค่าเงื่อนไขนั้นออกมา ดังนี้

In [50]:
if False:
    print('Yes')
else:
    print('No')

No

# **HW4**
#### เขียน function ตัดเกรด โดยที่ input เป็นคะแนน(0-100) , output เป็นเกรด (F-A)
#### วนลูปตัดเกรด input = [1,50,65,90,101,-5,49]

##### กำหนด
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ  0  แต่น้อยกว่า 50 จะได้เกรด F
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 50 แต่น้อยกว่า 55 จะได้เกรด D
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 55 แต่น้อยกว่า 60 จะได้เกรด D+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 60 แต่น้อยกว่า 65 จะได้เกรด C
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 65 แต่น้อยกว่า 70 จะได้เกรด C+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 70 แต่น้อยกว่า 75 จะได้เกรด B
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 75 แต่น้อยกว่า 80 จะได้เกรด B+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 80  จะได้เกรด A
      แต่ว่าค่าคะแนนจะต้องไม่ต่ำกว่า 0 และมากกว่า 100 ไม่งั้นจะเกิด error

# Finish

# &&, ||, in, is : Operator อื่นๆ

In [39]:
if True & True:
  print(True & True)

True

In [42]:
if (0>1) & (0>-1):
  print(True & True)

In [43]:
if 'T' in 'Thanapong' :
  print('T in Thanapong')

T in Thanapong

In [58]:
def return_nothing(x):
  x = x+1

In [60]:
if return_nothing(5) is None:
  print('x is null')

x is null

In [61]:
a = return_nothing(5)

In [62]:
if a is None:
  print('x is null')

x is null